body {
    font-family: Arial, sans-serif; /* fonte */
    display: flex; /* usa o FlexBox para exibir o conteúdo */
    justify-content: center; /* centraliza na horizontal */
    height: 100vh; /* altura da página é todo o conteúdo dela */
    align-items: center; /* centraliza na vertical */
    background-color: black ;
}
.container {
    background-color: gray;
    padding: 20px; /* espaçamento interno */
    border-radius: 10px; /* bordas arredondadas*/
    box-shadow: 4px 8px; /*sombreamento*/
    text-align: center; /* centraliza texto*/
}
h2 {
     padding: 10px; 
}

button {
 background-color: goldenrod;
 color: black;
 border: none;
 padding: 5px; /* espaçamento interno */
 border-radius: 5px;
 cursor: pointer; /* mouse vira um ponteiro */

}

/* criar efeito de passar o mouse no botão */
button:hover {
   background-color: gray;

}

.imagem {
    border-radius: 50%;
    width: 300px; ;/* largura */
    position: relative;
    height: 300px; /* altura m*/
    margin-bottom: 10px; /* espaçamento externo */
}