body {
    font-family: Arial, sans-serif;
    margin: 0; /*espacamento externo*/
    padding: 0; /*espacamento interno*/
    background-color: #f4f4f4;
    text-align: center;
  }
  header {
    background-color: #030588;
    color: white;
    font-size: 35px;
    font-weight: bold;
    width: 200%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: auto;
    justify-content: space-between;
    padding: 10px 100px;
    }
  
  .img-trote {
    width: 125px;
    height: 125px;
    padding: 0px 50px;
    display: flex;
    border-radius: 10px;
  }
  .logo-facef {
    width: 125px;
    height: 125px;
    padding: 0px 50px;
    width: auto;
    display: flex;
  }
  nav {
    background: #1c32a2;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    width: auto;
  }
  
  #links-menu {
    display: flex;
    gap: 15px; /*distancia*/
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    font-size: 15px;
    background-color: #030588;
    border-radius: 5px;
  }
  
.container {
    width: 80%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
}
h2 {
    text-align: center;
}

ol li {
    padding-bottom: 10px;
}

table tr td {
    padding: 05px 20px;
} 
table {
    margin: 0 auto; /* centraliza a tabela na página */
}

.laranja{
    background-color:  #ff8c00;
}
.preto{
    background-color: black;
    color: white;

}
.roxa{
    background-color: rgb(160, 73, 160);
}
.verde{
    background-color: rgb(6, 148, 6);
}
.vermelho{
    background-color: rgb(250, 10, 10);
}
.azul{
    background-color: navy;
    color: white;
}
.cinza{
    background-color: navy;
    color: white;
}
.campos{
    margin-bottom: 20px;
}
.table tr td {
   position: relative;
   padding: 0px 20px; 
}
.azulzinho{
    width: auto;
    background-color: #c1d4eb;
    margin-left: 200px;
    margin-right: 200px;
}
th, td {
    border: 2px solid black;
    padding: 0px;
}
  
thead th {
    background-color: #001f54;
    color: white;
    font-size: 16px;
}
.cabecalho-equipe {
    width: 10%;
}
.meta {
    background-color: #001f54;
    color: rgb(254, 254, 254);
}
.equipe {
    font-weight: bold;
    color: white;
}
.laranja {
    background-color:  #ff8c00;
    color: black;
}
.destaquelaranja{
    background-color: #ff8c00;
}
.preta {
    background-color: #000000;
    color: white;
}
.destaquepreto{
    background-color: #000000;
    color:white;
}
  
.roxa {
   background-color: #c18aff;
   color: black;
}
.destaqueroxo{
    background-color: #c18aff;
}
  
 .verde {
  background-color: #46bd46;
    color: black;
}
.destaqueverde{
    background-color: #46bd46;
} 
.vermelha {
    background-color:  #f42f2f;
    color: black;
}
.destaquevermelho{
    background-color:  #f42f2f;
}
.cursos {
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
}

tbody td:last-child {
    border-right: 2px solid black;
}
  
.destaque {
  font-weight: bold;
}
.azulzao{
    width: auto;
    background-color: #c1d4eb;
    margin-left: 355px;
    margin-right: 355px;
    vertical-align: center;
    text-align: center;
}
.tabelinha{
    text-align: left;
    font-size: 14px;
}
.sorteio table {
    width: 65%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 05px rgba(0,0,0,0.1);
}
.sorteio th {
    background-color: #00296b;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    border: 2px solid black;
}
.sorteio td {
    text-align: center;
    padding: 12px;
    font-size: 14px;
    border: 2px solid black;
  }
.laranja { 
    background-color: #ff8c00; 
    font-weight: bold; 
    color: black; 
}
.preta { 
    background-color: #000000; 
    color: white; 
    font-weight: bold; 
}
.roxa { 
    background-color: #b173f8; 
    font-weight: bold; 
    color: black;
 }
.verde { 
    background-color: #46bd46; 
    font-weight: bold; 
    color: black; 
}
.vermelha { 
    background-color: #f42f2f; 
    font-weight: bold; 
}
.cinza {
    background-color: #b4b3b3;
    
}
.sorteio tbody tr {
    border-bottom: 1px solid #ccc;
}
.branco{
    background-color: white;
}
.titulozinho{
    text-align: center;
    font-size: 20px;
}
.tabelaazul{
    width: auto;
    background-color: #c1d4eb;
    margin-left: 326px;
    margin-right: 326px;
}
.amarelo{
    width: auto;
    background-color: rgb(225, 225, 131);
    margin-left: 250px;
    margin-right: 250px;
}
.tituloleite{
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}
.titulodoacao{
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}
.tabelazuul{
    width: auto;
    background-color: #c1d4eb;
    margin-left: 315px;
    margin-right: 315px;
}
.titulotabela4{
    text-align: center;
    font-size: 20px;
}
.corcoluna{
    width: 300px;
}
.colunameta{
    width: 150px;
}
.corzinhalaranja{
    background-color: orange;
    text-align: center;
}
.numberlaranja{
    background-color: white;
    color: black;
}
.corzinhapreta{
    background-color: #000000;
    color: white;
    text-align: center;
}
.numberpreto{
    background-color: white;
    color: #000000;
}
.corzinharoxa{
    background-color: #b173f8;
    color: #000000;
    text-align: center;
}
.numberroxo{
    background-color: white;
    color: black;
}
.corzinhaverde{
    background-color: #46bd46;
    color: #000000;
    text-align: center;
}
.numberverde{
    background-color: white;
    color: #000000;
}
.numbervermelho{
    background-color: white;
    color: black;
}
.corzinhavermelha{
    background-color: #f42f2f ;
    color: #000000;
    text-align: center;
}
.titulooacao{
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
}
.atividade{
    padding-left: 20px;
}
.tabelaatencaoazul{
    width: auto;
    background-color: #c1d4eb;
    margin-left: 315px;
    margin-right: 315px;
    text-align: left;
}
.tabelaaaazul{
    width: auto;
    background-color: #c1d4eb;
    margin-left: 501px;
    margin-right: 501px;
    text-align: left;

}
.tabelaacaoazul{
    width: auto;
    background-color: #c1d4eb;
    margin-left: 501px;
    margin-right: 501px;
    text-align: left;
}
.obs{
    text-align: left;
    font-size: 10px    
}
.metatabela{
    background-color: #b4b3b3;
    color: #000000;
}
.pontuacaotabela{
    background-color: #b4b3b3;
    color: #000000;
}
.pontos {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
}
.pasta1{
    text-align: left;
}
.pasta2{
    text-align: left;
}
.integracao{
    background-color:  #a3c3ea;
}
.homenagem{
    text-decoration: underline;
    text-align: left;
    padding-left: 20px;
}
.palavras{
    padding-left: 20px;
}
.listinha{
    text-align: left;
    padding-left: 400px;
}
.tabelaamarelo{
    width: auto;
    background-color: rgb(225, 225, 131);
    margin-left: 250px;
    margin-right: 250px;
    text-align: left;
}
.mascoteee{
    text-decoration:underline;
    text-align: left;
    padding-left: 40px;
}
.listaa{
    padding-left: 20px;
}